body {
    background: #232527;
    color: white;
}
div.top {
    height: 100px;
}
div.left {
    width: 200px;
    float: left;
}
div.right {
    max-width: 300px;
    float: left;
}
li {
    text-decoration: underline;
    color: #0af;
}
li:hover {
    color: white;
}
div.achievement_container {
    width: 300px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
div.achievement_container > div {
    border: white solid 2px;

    color: white;
    background: #232527;
    display: block;
    text-align: center;

    margin: 10px;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 20px #0af;
}
div.achievement_container > div.clickable {
    cursor: pointer;
}
div.achievement_container > div :first-child {
    border: black solid 1px;
    font-size: 75%;
    font-weight: bold;
    color: #aaa;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 3px black;

    background: rgb(149,149,149); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
div.achievement_container > div :not(:first-child) {
    border-top: none;
    font-size: 125%;
    padding: 3px;
}
