div.top {
        height: 100px;
}
div.left {
         width: 200px;
         float: left;
}
div.right {
          max-width: 300px;
          float: left;
}
div.achievement_container {
          width: 300px;
          position: fixed;
          bottom: 0px;
          right: 0px;
}
div.achievement_container > div {
          margin: 10px;
          background-color: gold;
          border: brown solid 1px;
          text-align: center;
}
div.achievement_container > div :first-child {
          font-size: 75%;
          background-color: goldenrod;
}
div.achievement_container > div :not(:first-child) {
          font-size: 125%;
          padding: 3px;
}
